/*TITLE FONTS ------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Maragsa';
    src: url('../fonts/Maragsâ.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/*REGULAR FONTS ------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/*ITALIC FONTS ------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}