/*STRUCTURE ------------------------------------------------------------------------------------------------------------*/
:root {
  --background-color: #343c27;
  --background-zero-color: #343c2700;
  --text-color: #eed2a2;

  --navigation-color: #191f11;
  --navigation-text-color: #eac27d;

  --accent-color: #c16735;
  --grey-color: #a7b7b7;
  --grey-50-color: #a7b7b780;
  
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Crimson Pro';
  font-weight: 300;
  font-size: 18px;
  text-align: justify;

  background-color: var(--background-color);
  color: var(--text-color);

  line-height: 1.5;
}

.wireframe {
  display: flex;
  flex-direction: row;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main__wrapper {
  width: 100%;
}

.main {
  width: 100%;
  height: calc(100% - 120px);

  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main::-webkit-scrollbar {
  display: none;
}

.main__content {

  margin: auto;
  width: 85%;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  padding: 70px 0 50px;
}

.main__content img {
  max-height: 550px;
  max-width: 100%;
  object-fit: contain;

  margin: 30px auto;

  display: block;
}

.title__container {
  width: 100%;
  height: 100vh;

  padding-bottom: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*TEXT ------------------------------------------------------------------------------------------------------------*/
h1 {
  font-family: 'Maragsa';
  font-weight: 400;
  font-size: 4em;

  text-align: center;
}

h2{
  font-weight: 200;
  font-size: 3em;

  text-align: center;
}

h3 {
  font-weight: 800;
  font-size: 1.6em;
}

h4 {
  font-weight: 600;
  font-size: 1.4em;    
}

i, em {
  font-style: italic;
}

.song {
  margin-left: 50px;
  margin-right: 50px;
}

/*SIDEBAR ------------------------------------------------------------------------------------------------------------*/
.sidenav {
  height: 100%;

  width: 0;
  background-color: var(--navigation-color);
  transition: 0.5s ease-in-out;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 5px;
  padding: 70px 0px;
  
  flex-shrink: 0;

  position: relative;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.sidenav::-webkit-scrollbar {
  display: none;
}
  
/* The sidebar buttons */
.sidenav .sidenav__chapterbtn {
  font-weight: 400;
  text-decoration: none;

  margin: 0;
  padding: 7px;
  width: 300px;

  background-color: #00000000;
  color: var(--navigation-text-color);
  display: block;
  transition: 0.2s;
  border-radius: 4px;
  border: 0;
  outline: 0;
}

.sidenav button:hover {
  color: #ffffff;
  background-color: #ffffff10;

}

.sidenav__openbtn {
  width: 50px;
  height: 50px;

  font-size: 1em;
  cursor: pointer;
  background-color: var(--navigation-color);
  padding: 12px;
  border: none;
  border-radius: 5px;

  z-index: 3;

  position: absolute;
  top: 10px;
  left: 10px;

  box-shadow: 0 0 2px #000000bd;
}
  
.sidenav__openbtn:hover {
  color: white;
  filter: brightness(150%);

  box-shadow: 0 0 5px #00000080;
}

.sidenav__openbtn_icon {
  fill: none;
  stroke: var(--accent-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 11px;
}


/*FOOTER ------------------------------------------------------------------------------------------------------------------*/

.footer {
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;

  background-color: var(--background-color);
  background: linear-gradient(0deg, var(--background-color) 75%,
                                    var(--background-zero-color) 100%);
}

.footer__elements {
  margin: auto;
  width: 85%;
  max-width: 1000px;

  position: relative;
  height: 100%;
}

.footer__elements__pbar {
  height: 4px;
  width: 100%;

  border-radius: 2px;

  background-color: var(--grey-50-color);

  transition: all 0.5s ease-in-out;

  position: absolute;
  top: 40px;
  z-index: 0;
}

.footer__elements__fillbar {
  height: 100%;
  width: 50%;

  border-radius: 2px;

  background-color: var(--accent-color);

  transition: 0.3s ease-in-out;
}

.footer__elements__button__container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transition: all 0.5s ease-in-out;

  position: absolute;
  top: 20px;
  z-index: 1;
}

.footer__elements__button {
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;

  min-height: 60px;
  max-height: 70px;

  max-width: 48%;

  margin: 5px 0;
  padding: 5px;
  width: 200px;

  background-color: var(--background-color);
  color: var(--navigation-text-color);

  transition: 0.2s;
  border-radius: 4px;
  border: 0;

  box-shadow: 0 0 4px #00000080;
}

.footer__elements__button:hover {
  color: #ffffff;
  background-color: #ffffff10;

  box-shadow: 0 0 6px #00000080;
}

.hide {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
}

/*RESPONSIVENESS ------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1000px) {
  .sidenav{
  z-index: 2;

  position: absolute;
  top: 0px;
  left: 0px;
  }
}

@media only screen and (max-width:700px) {
  body {
    font-size: 16px;
  }

  .main {
    height: calc(100% - 80px);
  }
  .footer {
  height: 80px;
  }

  .footer__elements__pbar {
  top: 30px;
}

.footer__elements__button__container {
  top: 5px;
}
}

@media only screen and (max-height: 650px) {
  body {
    font-size: 16px;
  }

  .main {
    height: calc(100% - 80px);
  }
  .footer {
  height: 80px;
  }

  .footer__elements__pbar {
  top: 30px;
}

.footer__elements__button__container {
  top: 5px;
}
}